@use 'src/styles/positive-button.module';
@use 'src/styles/_row.module';
a {
  all: unset;
}
.row{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 5px 60px 5px 0;
  span{
    margin-left: 60px;
    min-width: 80px;
  }
}
.addButton{
  height: 35px;
  width: 35px;
  justify-self: end;
}