//button
////positive
$bg-button: #6340FB;
$bg-button-hover: #4F27FF;
////negative
$bg-button-ngtv: #9D3767;
$bg-button-hover-ngtv: #9F205C;

//container
$container-color: #1C1A26;
$container-width: 60%;
$container-border-color: #35353C;