@import 'constans.scss';

.addButton{
  background: $bg-button;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  box-shadow: none;
  border: none;
  font-size: 27px;
  font-weight: 500;
}

.addButton:hover{
  background: $bg-button-hover;
}