@use 'src/styles/_row.module';
@use 'src/styles/_positive-button.module';
@import 'src/styles/_constans';

.table{
  background: $container-color;
  width: $container-width;
  padding: 20px 0;
  border-radius: 20px;
  border: 2px solid $container-border-color;
  height: auto;
  display: table;
}

.infoRow{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.tableContainer{
  grid-area: table;
  display: flex;
  justify-content: center;
}
.table{
  border-radius: 20px;
  border: 2px solid $container-border-color;
  padding: 5px 30px 5px 5px;
}

.row{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 5px 60px 5px 0;
  span{
    margin-left: 60px;
    min-width: 80px;
  }
}
.addButton{
  height: 35px;
  width: 35px;
  justify-self: end;
  visibility: hidden;
}