@use 'src/styles/_modal-window.module';
@use 'src/styles/_default-button.module';
@use 'src/styles/_negative-button.module';

.row{
  display: flex;
  margin-bottom: 5px;
  span{
    width: 120px;
  }
}
