@use '../../styles/positive-button.module';
@use '../../styles/_negative-button.module';
@use '../../styles/_modal-window.module';
@use '../../styles/_default-button.module';

.inputNum {
  margin-left: 5px;
}

.addButton {
  font-weight: 400;
  font-size: 20px;
}

.negativeButton {

  font-weight: 400;
  font-size: 20px;
}

.subRow {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.defaultButton{
  height: 30px;
  box-shadow: none;
}
.defaultButton:active{
  transform: none;
}